{% extends 'vids/base.html' %}
{% load static %} 
{%block css %} 
{{ block.super}}
<link href="{% static 'vids/css/main.css' %}" rel="stylesheet" />
{% endblock %}
{% block title%} Home {% endblock %}

{%block body%}
<div class="container" mt-5>
  {% for video in videos %}
  <h3 class="text-center mt-3">{{video.caption}}</h3>
  <video
    class="embed-responsive-16by9 embed-responsive"
    style="max-height: 17rem; min-width: -webkit-fill-available"
    controls="controls"
  >
    <source src="{{video.reel.url}}" type="video/mp4" />
  </video>
  <p>{{video.desc}}</p>
  <hr />
  {% endfor %}
</div>

<div style="position: fixed; bottom: 24px; right: 108px">
    <button class="button-73" role="button" onclick="togglePopup()">Upload</button>
</div> 

<div class="content">
  <div onclick="togglePopup()" class="close-btn">
      X
  </div>
  <h3>What's up?</h3>
  <hr>

  <button class="button-88" role="button">Post by Muvi Cam</button><hr>
  <button class="button-88" role="button" onclick="togglePopup();togglePopup1()">Post from Storage</button><br>
  <form action="#" style='margin-right: 50rem;'>
    <label for="cap">caption:</label>
    <textarea name="caption" rows="2" cols="50" value='cap'></textarea><br>
    <label for="desc">description:</label>
    <textarea name="description" rows="4" cols="50" value='desc'></textarea><br>

    <input type='submit' value='submit'></input>
  </form>  
    
</div>



<script type="text/javascript" src="{% static 'vids/js/main.js' %}"></script>


{% endblock %}
