{% extends 'vids/base.html' %}
{% load static %}
{% block title%} Home {% endblock %}
{%block body%}

  <div class= container mt-5>
    {% for video in videos %}
    <h3 class='text-center mt-3'>{{video.caption}}</h3>
    <video class="embed-responsive-16by9  embed-responsive " style='max-height: 17rem; min-width: -webkit-fill-available; 'controls='controls'>
        <source src="{{video.reel.url}}" type="video/mp4" />
    </video>   
    <p> {{video.desc}} </p>
    <hr>
      {% endfor %}
  </div>

  <div style=' position: fixed;
  bottom: 24px;
  right: 108px;'>
    <button style='background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;'>Upload reel</button>
  </div> 
  
{% endblock %}
 




